n8n-workflows/complete-workflow.json
{
  "name": "LibreChat Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "librechat-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "LibreChat Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "librechat-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "new_conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-action-type",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "content": "## Conversation Analytics\n\n**User:** {{ $json.body.user }}\n**Message:** {{ $json.body.message }}\n**Timestamp:** {{ $json.body.timestamp }}\n**Model Used:** {{ $json.body.model }}\n\n---\n\n*This conversation was logged for analytics purposes.*",
        "options": {}
      },
      "id": "log-conversation",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3080/api/webhook/response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "status": "processed",
          "message": "Workflow executed successfully",
          "data": {
            "user": "={{ $json.body.user }}",
            "processed_at": "={{ $now }}",
            "action": "={{ $json.body.action }}"
          }
        }
      },
      "id": "send-response",
      "name": "Send Response to LibreChat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Webhook received and processed",
          "timestamp": "={{ $now }}"
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "LibreChat Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Response to LibreChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response to LibreChat": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "librechat-integration",
  "meta": {
    "instanceId": "librechat-n8n-workflow"
  },
  "tags": ["librechat", "webhook", "integration"]
}