n8n-workflows/document-search.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "librechat/doc-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5566c5b1-9548-484f-b95f-ac8c11adc28a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "doc-search"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SMART MOCK DATA PATTERN\n// ============================================\nconst USE_MOCK_DATA = true; // ← Change to false when MongoDB ready\n\n// ============================================\n// VALIDATION LAYER - LibreChat Integration\n// ============================================\nlet profileType;\nlet webhookData;\n\ntry {\n  webhookData = $('Webhook').first().json.body;\n  \n  if (webhookData._context && webhookData._context.profile) {\n    profileType = webhookData._context.profile.profileType;\n  } else if (webhookData._context && webhookData._context.profileType) {\n    profileType = webhookData._context.profileType;\n  } else {\n    profileType = webhookData.profileType;\n  }\n} catch (e) {\n  const requestData = $json.body || $json;\n  if (requestData._context && requestData._context.profile) {\n    profileType = requestData._context.profile.profileType;\n  } else if (requestData._context) {\n    profileType = requestData._context.profileType;\n  } else {\n    profileType = requestData.profileType;\n  }\n}\n\nconsole.log('Document Search Auth:', { profileType });\n\nif (profileType !== 'employee') {\n  return [{\n    json: {\n      success: false,\n      error: 'Access denied: Employee profile required'\n    }\n  }];\n}\n\n// Get request data\nconst requestData = $json.body || $json;\n\nconst query = (webhookData.query || requestData.query || '').toLowerCase().trim();\n\nif (!query || query.length < 3) {\n  return [{\n    json: {\n      success: false,\n      error: 'Search query must be at least 3 characters'\n    }\n  }];\n}\n\n// ============================================\n// MOCK DATA SOURCE\n// ============================================\nfunction getMockDocuments() {\n  const allDocs = [\n    {\n      id: 'doc1',\n      title: 'Vacation Policy 2024',\n      excerpt: 'Employees are entitled to 20 days of paid vacation per year. Vacation requests must be submitted at least 2 weeks in advance...',\n      category: 'HR',\n      department: 'All',\n      lastUpdated: '2024-01-15',\n      url: '/docs/hr/vacation-policy'\n    },\n    {\n      id: 'doc2',\n      title: 'Remote Work Guidelines',\n      excerpt: 'Guidelines for remote work arrangements. Employees may work remotely up to 3 days per week with manager approval...',\n      category: 'HR',\n      department: 'All',\n      lastUpdated: '2024-02-01',\n      url: '/docs/hr/remote-work'\n    },\n    {\n      id: 'doc3',\n      title: 'Engineering Handbook',\n      excerpt: 'Best practices for code review, testing, and deployment. All code must be reviewed by at least one peer before merge...',\n      category: 'Engineering',\n      department: 'Engineering',\n      lastUpdated: '2024-03-10',\n      url: '/docs/eng/handbook'\n    },\n    {\n      id: 'doc4',\n      title: 'Expense Reimbursement Process',\n      excerpt: 'How to submit and track expense reports. All expenses must be submitted within 30 days with valid receipts...',\n      category: 'Finance',\n      department: 'All',\n      lastUpdated: '2024-01-20',\n      url: '/docs/finance/expenses'\n    },\n    {\n      id: 'doc5',\n      title: 'Security Best Practices',\n      excerpt: 'Company security guidelines including password policies, 2FA requirements, and data handling procedures...',\n      category: 'IT',\n      department: 'All',\n      lastUpdated: '2024-02-15',\n      url: '/docs/it/security'\n    },\n    {\n      id: 'doc6',\n      title: 'Leave Request Form',\n      excerpt: 'Template and instructions for submitting leave requests including sick leave, personal days, and family leave...',\n      category: 'HR',\n      department: 'All',\n      lastUpdated: '2024-01-10',\n      url: '/docs/hr/leave-request'\n    }\n  ];\n  \n  // Simple search\n  const results = allDocs.filter(doc => \n    doc.title.toLowerCase().includes(query) ||\n    doc.excerpt.toLowerCase().includes(query) ||\n    doc.category.toLowerCase().includes(query)\n  ).slice(0, 5);\n  \n  return results;\n}\n\n// ============================================\n// REAL DATA SOURCE (MongoDB)\n// ============================================\nfunction getRealDocuments() {\n  // TODO: Query MongoDB documents collection\n  return getMockDocuments();\n}\n\n// ============================================\n// MAIN LOGIC\n// ============================================\nconst documents = USE_MOCK_DATA \n  ? getMockDocuments() \n  : getRealDocuments();\n\n// ============================================\n// RESPONSE\n// ============================================\nconst categories = [...new Set(documents.map(d => d.category))];\nconst mostRecent = documents.length > 0 ? documents.sort((a, b) => new Date(b.lastUpdated) - new Date(a.lastUpdated))[0] : null;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      query: query,\n      documents: documents,\n      stats: {\n        totalResults: documents.length,\n        categories: categories.length,\n        mostRecent: mostRecent ? mostRecent.title : null\n      }\n    },\n    summary: documents.length === 0 \n      ? `No documents found for \"${query}\"` \n      : `Found ${documents.length} document(s) matching \"${query}\"`,\n    insights: documents.length > 0 ? [\n      `Documents span ${categories.length} categor${categories.length === 1 ? 'y' : 'ies'}: ${categories.join(', ')}`,\n      mostRecent ? `Most recent: ${mostRecent.title} (${mostRecent.lastUpdated})` : 'No recent updates',\n      `Click any document to view full details`\n    ] : [\n      'Try using different keywords',\n      'Check for typos in your search query',\n      'Browse by category: HR, Engineering, Finance, IT'\n    ],\n    dataSource: USE_MOCK_DATA ? 'mock' : 'mongodb',\n    searchedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "e367063e-978c-4a10-bfdd-f72b12e5b8b9",
      "name": "Search Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "14f581ef-411e-4b0c-a6ec-365a0f4204f2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d1b0677434545dc7167f4d21eff9392d609e94e2ea7906e38242045c57c64797"
  }
}